@import "../base/base";

.features {
    padding: 120px 0;
    background-image: url('../../img/features-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    min-height: 100vh;
		// .features__top

		&__top {
            text-align: center;
		}

        &__inner {
            display: flex;
            flex-direction: column;
            align-items: center;
		}

		// .features__top-title

		&__top-title {
		}

		// .features__top-text

		&__top-text {
		}

		// .features__content

		&__content {
		}

		// .features__content-item

		&__content-item {
            max-width: 297px;
            transition: all .5s;
            svg path {
                transition: all .5s;
            }
            &--center {
                text-align: center;
                margin: 15px auto;
            }
            &--right {
                text-align: right;
                margin: 0 auto;
            }
            &:hover {
                svg path {
                    fill: rgb(65, 29, 131);
                }
            }
		}

        &__item-img {
            margin-bottom: 30px;
        }

		// .features__item-title

		&__item-title {
            font-weight: 600px;
            font-size: 20px;
            line-height: 30px;
            text-transform: uppercase;
            margin-bottom: 18px;
		}

		// .features__item-text

		&__item-text {
		}

		// .features__mobile

		&__mobile {
            display: flex;
            justify-content: space-between;
            align-items: center;
		}

        &__mobile-img {
            height: 932px;
            margin: 60px 35px;
            filter: drop-shadow(5px 5px 10px #000000);
            // margin-right: -80px;
        }

		// .features__mobile-list

		&__mobile-list {
            display: flex;
            list-style: none;
            flex-direction: column;
            justify-content: space-between;
            align-items: space-between;
            height: 650px;
		}
}


@media (max-width: 1200px){
    .features {
        padding: 100px;
        &__mobile-img, &__mobile {
            height: 700px;
        }
    }
            
}


@media (max-width: 700px){
    .features {
        &__mobile-img {
            height: 500px;
            margin: 50px 20px;
        }
    }
            
}


@media (max-width: 600px){
    .features {
        padding: 80px;
        &__mobile {
            flex-direction: column;
            gap: 30px;
            height: auto;
        }
        &__content-item {
            text-align: center;
        }
        &__mobile-list {
            height: auto;
            gap: 30px;
            margin: 30px 0;
		}
        &__mobile-img {
            height: auto;
        }
    }
            
}