@import "../base/base";


.nav {

		// .nav__top
        margin-bottom: 67px;
		&__top {
            display: flex;
            justify-content: space-between;
            color: #fff;
            text-decoration: none;
		}

		// .nav__contact-list

		&__contact-list {
            display: flex;
		}

		// .nav__contact-item

		&__contact-item {
		}

		// .nav__contact-link

		&__contact-link {
            text-decoration: none;
            padding-right: 47px;
            padding-left: 36px;
            position: relative;
            &::after {
                content: "";
                
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 18px;
                height: 18px;

            }
            &--phone::after {
                background-image: url('../../img/contact-items/phone.svg');
            }
            &--mail::after {
                background-image: url('../../img/contact-items/mail.svg');
            }
		}

		// .nav__social-list

		&__social-list {
            display: flex;
		}

		// .nav__social-item

		&__social-item {
		}

		// .nav__social-link

		&__social-link {
            padding-right: 30px;
		}

		// .nav__manu

		&__menu {
            display: flex;
            justify-content: space-between;
            background-color: #fff;
            padding: 17px 50px;
            align-items: center;
            position: relative;
            color: var(--nav-color);
            border-radius: 5px
		}

		// .nav__menu-list

		&__menu-list {
            display: flex;
            transition: all .5s;
		}


        // .nav__menu-logo
        &__menu-logo {
            padding: 31px 17px;
            background-color: #fff;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            border-radius: 5px
        }

		// .nav__menu-item

		&__menu-item {
		}

		// .nav__menu-link

		&__menu-link {
            font-size: 20px;
            line-height: 30px;
            text-decoration: none;
            font-weight: 600;
            text-transform: uppercase;
            margin-right: 40px;
            transition: all .5s;
            &:hover {
                color: var(--accent-color2);
                text-decoration: underline;
            }
		}


		// .nav__menu-link--decor

		&__menu-link--decor {
            margin-right: 0;
            color: #fff;
            background-color: var(--accent-color2);
            padding: 12px 15px 8px 16px;
            border-radius: 5px;
            &:hover {
                color: var(--accent-color1);
                text-decoration: underline;
            }
		}

        &__top-home, &__top-blog  {
            display: none;
            height: 35px;
            width: 35px;
            cursor: pointer;
        }
}

@media (max-width: 1350px){
    .nav {
        &__menu-link {
            margin-right: 0;
        }
        &__menu-item {
            padding-bottom: 15px;
        }
        &__menu {
            padding: 15px 20px;
        }
        &__top-home, &__top-blog{
            display: block;
            transition: all .5s;
        }
        &__menu {
            position: relative;
        }
        &__menu-list-home,  &__menu-list-blog {
            display: block;
            transform: translateY(-500%);
            position: absolute;
            bottom: -170px;
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 10px;
            padding: 15px;
        }
        &__menu-list-home, &__menu-list-blog {
            display: block;
            transform: translateY(-500%);
            position: absolute;
            bottom: -170px;
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 10px;
            padding: 15px;
        }

        &__top-home--active path, &__top-blog--active path {
            fill: var(--accent-color2);
        }

        &__menu-list--active, &__menu-list-blog--active {
            transform: translateY(0);
        }

        &__menu-list-home {
            left: 0;
        }

        &__menu-list-blog {
            right: 0;
            text-align: right;
        }
    }
}


@media (max-width: 1050px){
    .nav {
        &__contact-list {
            display: block;
        }
        &__contact-link {
            padding-right: 0;
        }
        &__contact-item {
            margin-bottom: 10px;
        }
        &__top {
            align-items: center;
        }
        &__social-link {
            padding-right: 20px;
        }
    }
}


@media (max-width: 600px){
    .nav {
        &__menu-logo {
        padding: 0;
        }
        &__social-list {
            flex-wrap: wrap;
            justify-content: center;
            padding-left: 10px;
        }
        &__content-img {
        margin-left: 0px;
        }
    }
}